In [1]:
# Dependencies and Setup
import pandas as pd

# SQL Alchemy Dependencies

import sqlalchemy
from sqlalchemy import create_engine

In [6]:
movie_df = pd.read_csv("Resources/movie_metadata.csv")
movie_df["movie_title"]

0                                                 Avatar
1               Pirates of the Caribbean: At World's End
2                                                Spectre
3                                  The Dark Knight Rises
4       Star Wars: Episode VII - The Force Awakens    ...
                              ...
5038                             Signed Sealed Delivered
5039                           The Following
5040                                A Plague So Pleasant
5041                                    Shanghai Calling
5042                                   My Date with Drew
Name: movie_title, Length: 5043, dtype: object

In [5]:
script_df = pd.read_csv("Resources/all_script.csv")
script_df

,title,Swear_Count,Fuck_Count,Shit_Count,Bitch_Count,Profanity
0,10 Things I Hate About You,8,3,2,3,1
1,12,2,2,0,0,1
2,12 and Holding,12,9,3,0,1
3,12 Monkeys,13,10,3,0,1
4,12 Years a Slave,1,0,0,1,1
...,...,...,...,...,...,...
1206,You've Got Mail,4,4,0,0,1
1207,Youth in Revolt,5,2,3,0,1
1208,Zero Dark Thirty,38,35,2,1,1
1209,Zerophilia,14,13,1,0,1
1210,Zootopia,0,0,0,0,0

In [16]:
movie_df.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [17]:
script_df.dtypes

title          object
Swear_Count     int64
Fuck_Count      int64
Shit_Count      int64
Bitch_Count     int64
Profanity       int64
dtype: object

In [19]:
movie_swear_df = movie_df.join(script_df, on='movie_title',how='outer')
#movie_df.merge(script_df,left_on="movie_title",right_on="title")
movie_swear_df

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat